.form-section {
  background-color: $white;
  margin-top: 30px;
  &__lead {
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 0;
  }
}

.color-target {
  &.business {
    .panel {
      border-color: $blue;
      &__head {
        background-color: $blue;
      }
    }
  }
  &.family {
    .panel {
      border-color: $green;
      &__head {
        background-color: $green;
      }
    }
  },
  &.individual {
    .panel {
      border-color: $sky;
      &__head {
        background-color: $sky;
      }
    }
  }
}

.form {
  @media (max-width: 768px) {
    max-width: 540px;
    margin: 0 auto;
  }
  &__group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }
  &__col {
    width: calc(50% - 10px);
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}
