.input {
  width: 100%;
  height: 40px;
  padding: 5px 15px;
  box-shadow: none;
  outline: none;
  border: 1px solid #acacac;
  border-radius: 5px;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 15px;
  @include placeholder {
    color: #acacac;
    font-family: $ff;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    @media (max-width: 480px) {
      font-size: 16px;
    }
  }
  transition: border-color 200ms ease;
  @media (max-width: 480px) {
    font-size: 16px;
  }
  &:focus {
    border-color: $sky;
  }
}

.form-field {
  display: block;
  position: relative;
  @media (max-width: 768px) {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
  }
  &.required {
    &::after {
      content: '*';
      color: #ed4f61;
      position: absolute;
      right: 15px;
      top: 0;
      font-size: 18px;
      font-family: $ff;
      line-height: 40px;
    }
  }
}

.select {
  width: 100%;
  height: 40px;
  background-color: $white;
  padding: 5px 15px;
  box-shadow: none;
  outline: none;
  border: 1px solid #acacac;
  border-radius: 5px;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 15px;
  color: $black;
  font-family: $ff;
  font-size: 18px;
  font-weight: 400;
  @media (max-width: 480px) {
    padding: 5px;
    font-size: 16px;
  }
}

.card-data {
  &__logos {
    margin: 9px auto 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: block;
      margin: 0 5px;
    }
  }
  &__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    @media (max-width: 480px) {
      flex-wrap: wrap;
      margin: 0;
    }
    > * {
      width: calc(100% / 4 - 8px);
      @media (max-width: 480px) {
        width: calc(100% / 3 - 8px);
      }
    }
    .input,
    .select {
      margin-bottom: 0;
    }
  }
  &__p {
    margin: 0;
    font-size: 17px;
    line-height: 1;
    color: #3d3d3d;
    @media (max-width: 480px) {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  &__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 420px) {
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  }
}

.total-price {
  font-size: 18px;
  font-weight: 600;
  color: $blue;
  text-transform: uppercase;
  @media (max-width: 420px) {
    width: 100%;
    text-align: center;
  }
}

.btn-submit {
  width: 184px;
  height: 40px;
  background-color: $green;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  color: $white;
  box-shadow: none;
  border: none;
  cursor: pointer;
  transition: background-color 200ms ease;
  @media (max-width: 420px) {
    width: 100%;
  }
  &:hover {
    background-color: darken($green, 5%);
  }
}

.mb {
  &-4 {
    margin-bottom: 4px;
  }
}
