.panel {
  width: 100%;
  margin-bottom: 20px;
  background-color: $white;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  &__head {
    padding: 10px 15px;
    position: relative;
    transition: all 200ms ease;
  }
  &__heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    color: $white;
    margin: 0;
    @media (max-width: 768px) {
      font-size: 20px;
    }
    span {
      display: inline-block;
      overflow: hidden;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      border: 1px solid $white;
      text-align: center;
      line-height: 32px;
      margin-right: 15px;
    }
  }
  &__body {
    padding: 15px;
    transition: all 200ms ease;
  }
}
