header.header
  .header__top
    .container
      .contacts
        a(href="#" class="contacts__item contacts__item_email") sales@somecompany.com
        a(href="#" class="contacts__item contacts__item_tel") 1-800-875-3230
      
  .header__bottom
    .container
      .header__wrap
        a.header__logo(href="#")
          img(src="img/logo.png", alt="Logo name")
          
        nav.nav
          ul.nav__list
            li
              a(href="#", class="nav__link") Home
              
            li
              a(href="#", class="nav__link") Features
              
            li
              a(href="#", class="nav__link") Pricing & Plans
              
            li
              a(href="#", class="nav__link dropdown") Company
              
              ul.dropdown-menu
                li
                  a(href="#") About
                li
                  a(href="#") Certifications
                li
                  a(href="#") Contact Us
            
            li
              a(href="#", class="nav__link dropdown") Support
              
              ul.dropdown-menu
                li
                  a(href="#") How It Works
                li
                  a(href="#") FAQ
                li
                  a(href="#") Site Map
                
            
          .nav__controls
            a(href="#", class="nav__link") Customer Login
            a(href="#", class="nav__link") Free Trial
