.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    li {
      margin-right: 18px;
      position: relative;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__controls {
    a {
      &:first-child {
        padding-right: 10px;
        border-right: 1px solid #d7d7d7;
      }
      &:last-child {
        padding-left: 10px;
      }
    }
  }
  &__link {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: $blue;
    text-decoration: none;
    display: inline-block;
    transition: color 200ms ease;
    &.dropdown {
      padding-right: 15px;
      &::after {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        background: {
          image: url(../img/menu-arrow.png);
          repeat: no-repeat;
          position: center;
        }
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -4px;
      }
    }
    &:hover,
    &:focus {
      color: $link-hover;
    }
  }
}
