.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 900px) {
    position: fixed;
    width: 320px;
    background: #fff;
    z-index: 9999;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 5px rgba($black, 0.2);
    padding: 60px 30px 30px;
    display: block;
    transform: translate3d(100%, 0, 0);
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    @media (max-width: 900px) {
      width: 100%;
      display: block;
    }
    li {
      margin-right: 18px;
      position: relative;
      @media (max-width: 900px) {
        margin-right: 0;
        margin-bottom: 5px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__controls {
    @media (max-width: 900px) {
      margin: 30px auto 0;
      width: 100%;
    }
    a {
      @media (max-width: 900px) {
        display: block;
      }
      &:first-child {
        padding-right: 10px;
        border-right: 1px solid #d7d7d7;
        @media (max-width: 900px) {
          padding: 0;
          border: none;
        }
      }
      &:last-child {
        padding-left: 10px;
        @media (max-width: 900px) {
          padding: 0;
        }
      }
    }
  }
  &__link {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: $blue;
    text-decoration: none;
    display: inline-block;
    transition: color 200ms ease;
    @media (max-width: 900px) {
      display: block;
    }
    &.dropdown {
      padding-right: 15px;
      @media (max-width: 900px) {
        padding-right: 0;
      }
      &::after {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        background: {
          image: url(../img/menu-arrow.png);
          repeat: no-repeat;
          position: center;
        }
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -4px;
      }
    }
    &:hover,
    &:focus {
      color: $link-hover;
    }
  }
  &__btn {
    display: none;
    @media (max-width: 900px) {
      display: inline-block;
      z-index: 10000;
      position: absolute;
      right: 20px;
      top: 50px;
    }
    &.is-active {
      position: fixed;
    }
  }
}

.overlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba($black, .7);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 8888;
  &.is-opened {
    display: block;
  }
}
