html {
  min-width: 320px;
  overflow-x: hidden;
  width: 100%;
  font-size: $base-fs;
}

body {
  max-width: 1920px;
  min-width: 320px;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  font-family: $ff;
  font-size: $base-fs;
  font-weight: 400;
  line-height: $base-lh;
  color: $black;
  position: relative;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 770px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.text {
  &-center {
    text-align: center;
  }
}
