// Typography
$ff: #{'Open Sans, Roboto, Helvetica, sans-serif'};
$fa: #{'FontAwesome'};
$base-fs: 14px;
$base-lh: 1.5;

// Colors
$white: #fff;
$black: #000;
$blue: #133866;
$sky: #2099d4;
$green: #0d9446;
$light-blue: #67818e;
$grey: #919191;
$dark-grey: #373737;
$btns-blue: #3c9dd4;

// Link
$link-hover: #069bdc;

// Bg only
$grey-bg: #ebebeb;
$blue-bg: #000e4c
