doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name='description', content='')
    title Test
    link(rel='stylesheet' href='css/vendor.css')
    link(rel='stylesheet' href='css/style.css')
      
  body
    h1 Hello world!!!
    
    footer.footer
      .footer__top
        .container
          -var icons = ['fa-facebook', 'fa-twitter', 'fa-linkedin', 'fa-google-plus'];
          .socials
            each icon in icons
              a.socials__item(href="#")
                i(aria-hidden="true" class="fa #{icon}")
      
      .footer__bottom
        p.footer__copy Copyright 2016 SomeCompany, Inc.
    
    script(src="js/vendor.js")
    script(src="js/main.js")
      
